body {
  background-image: url("pexels-frans-van-heerden-624015.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  /* Some padding */
  background-attachment: fixed;
}

.neon {
  font-family: 'hosam', ;
  font-size: 130px;
  color: #a3e1e8;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #139cb1, 2px 0px 4px #7a2696, 3px 0px 4px #571194, 2px 0px 3px #226aa8, 2px 3px 15px #1f8e9d, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px#128d72, 40px 0vw 200px#0a6d5c;


}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    text-shadow: none;
    opacity: .99;

  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

body {


  font-size: 30px;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background-size: cover;
  font-family: sans-serif;
}

header {
  background-color: rgba(252, 250, 246, 0);
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0);

}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: rgb(243, 244, 247);
  text-decoration: none;
}

.h3 {
  margin-top: 200px;
  margin-left: 600px;
  color: aliceblue;
}

.h5 {

  margin-left: 460px;
  color: #A5F2F3;
}

.button .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: rgb(230, 247, 242);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-image: url("Capture.PNG");
}

.button .btn:hover {
  background-color: black;
  color: white;

}

.button {
  position: center;
  width: 100%;
  max-width: 400px;
}

.spectrumBackground {
  background-image: url("pexels-codioful-(formerly-gradienta)-7130488.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  /* Some padding */
  background-attachment: fixed;
}